<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ end }}</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <a href="/" class="homepage-link">Twilight Oracle</a>
      <form action="/search" method="get" class="small search">
        <input type="text" name="q" placeholder="Search cards">
      </form>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
