{{ define "title" }}
  Search &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <div id="search-results">

  </div>
  <template id="search-result-template">
    <p><a href="#"></a></p>
  </template>
  {{/* TODO better way to load lunr script? inline this? */}}
  <script src="/lunr.js" type="text/javascript"></script>
  <script type="text/javascript">
    async function loadIndex() {
      // TODO: handle fetch errors
      return lunr.Index.load(await (await fetch('/lunr-index.json')).json());
    }
    function parseSearch(query, cards) {
      const tokens = Object.entries({
        quoted: '"[^"]*"',
        colon: ':',
        gt: '>',
        ge: '>=',
        eq: '=',
        le: '<=',
        lt: '<',
        word: '[^"<>=:\\s]+',
        space: '\\s+',
        and: 'and',
        or: 'or',
        lparen: '(',
        rparen: ')'
      });

      function* tokenize(query) {
        const pattern = new RegExp('^' + tokens.map(
          ([name, pattern]) => `(${pattern})`
        ).join('|'));
        console.log(pattern);
        for (let match = pattern.exec(query); match; match = pattern.exec(query)) {
          const groupIndex = match.slice(1).findIndex(v => v);
          const [name] = tokens[groupIndex];
          const value = match[groupIndex + 1];
          yield [name, value];
          query = query.slice(match[0].length);
        }
      }

      for (let token of tokenize(query)) {
        console.log(token);
      }
    }
    (async () => {
      const [idx, allCards] = await Promise.all([loadIndex(), fetch('/all-cards.json').then(r => r.json())]);
      // TODO: is DOMContentLoaded needed here
      const resultsElem = document.getElementById('search-results');
      parseSearch(getSearchString());
      try {
        const results = idx.search(getSearchString());
        console.log(results);
        for (let result of results) {
          const resultElem = createResultElem(result.ref, allCards[result.ref]);
          resultsElem.appendChild(resultElem);
        }
      } catch (e) {
        if (e instanceof lunr.QueryParseError) {
          console.warn('caught a QueryParseError', e);
        } else {
          throw e;
        }
      }
    })();
    function getSearchString() {
      return new URLSearchParams(location.search).get('q');
    }
    function createResultElem(url, card) {
      if (card === undefined) console.log(url);
      const resultElem = document.getElementById('search-result-template').content.cloneNode(true);
      resultElem.querySelector('a').href = url;
      resultElem.querySelector('a').textContent = card.title;
      return resultElem;
    }
  </script>
{{ end }}
