{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <div class="stats">
    <div class="period {{ lower .Params.Period }}">
      {{- .Params.Period }} War
    </div>
    <div class="titleline">
      <span class="title">{{ .Title }}</span>
      <span class="number">{{ .Params.Number }}</span>
    </div>
    <div class="typeline">
      {{- with .Params.Ops }}<span>{{ . }} Operations</span>{{ end }}
      <span>{{ .Params.Side }} Event {{- with .Params.Types }} &ndash; {{ range . }} {{ . }} {{ end }} {{ end }}</span>
    </div>
    <div class="text">
      {{ .Content }}
    </div>
  </div>
{{ end }}
