{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <ul class="card-list">
    {{- range sort (.Pages.GroupByParam "Number") -}}
      {{- $oracle := "oracle" -}}
      {{- $printed := "printed" -}}
      {{- range .Pages -}}
        {{- if eq (partial "card/version" .) "oracle" -}}
          {{- $oracle = . -}}
        {{- else if eq (partial "card/version" .) "printed" -}}
          {{- $printed = . -}}
        {{- end -}}
      {{- end -}}
      <li>
        {{ partial "card/box/small" $oracle }}
        {{ partial "card/box/small" $printed }}
      </li>
    {{- end -}}
  </ul>
{{ end }}
