{{ define "title" }}
  {{ .Params.Name }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div class="card">
      <img class="card-image" src="{{ .Params.Image }}" alt="">
      <div class="card-stats">
        <h1 class="card-titleline">
          <span class="card-title">{{ .Params.Name }}</span>
          <span class="card-number">{{ with partial "card/number" . }}{{ . }}{{ end }}</span>
        </h1>
        <p class="card-period">
          Period: {{ partial "card/period/full" . }}
        </p>
        <p class="card-side">
          Side: {{ partial "card/side" . }}
        </p>
        {{ with .Params.OPS }}
          <p class="card-ops">
            OPS: {{ . }}
          </p>
        {{ end }}
        {{ with partial "card/types/string" . }}
          <p class="card-types">
            Types: {{ . }}
          </p>
        {{ end }}
        <p class="card-text">
          {{ .Content }}
        </p>
        <div class="card-versions">
          <a href="{{ relref . "oracle.md" }}">Oracle</a>
          <a href="{{ relref . "printed.md" }}">Printed</a>
        </div>
      </div>
    </div>
{{ end }}
